*{
    margin: 0px;
    padding: 0px;
}
body{
    border: 2px solid blue;
    min-height: 100vh;
}
#main{
    text-align: center;
    border: 2px solid black;
    margin:50px;
    padding: 10px;    

}
.form {
display: block;
/* border: 2px solid black; */
text-align: left;
font-size:22px;
padding: 5px;
width:85%;
margin: auto;
margin-top:15px;;
}

.des{ 

    display:block;
    border: 2px solid gray;
    border-radius: 10px;
    width:50%;
    height: 30px;  
    margin-right:50%;
    margin-bottom: 15px;
    padding-left: 5px;
}
.des:hover{
    border: 3px solid rgb(0, 183, 255); 
    box-shadow: 1px 1px 15px rgba(0, 0, 139, 0.568); 
}
.tab{
    border: 1px solid rgb(0, 89, 100); 
    width:100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 139, 0.568);

 }
 a.cross{
    background-image:url('./del.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding-right:10px;
 }
 #submit{
     outline-style: none;
 }
 td{
     border-bottom: 0.5px solid rgba(128, 128, 128, 0.308);

 }
